<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="memberMapper">
	

		<select id="memberList" resultType="MemberDTO">
		 select * from tbl_member order by username
		</select>
		
		<select id="userAndEmailConfirm" resultType="int">
			select count(*) from tbl_member where  userid=#{userid} or email=#{email}
		</select>
		
		
		<insert id="insertMember" >
		insert INTO tbl_member (userid, userpw, username, email) 

			 VALUES(#{userid}, HEX(AES_ENCRYPT(#{userpw}, 'macaronics119@')), #{username}, #{email})
		</insert>
		
		
		
		
		
		
		<select id="viewMember" resultType="MemberDTO">
		 select * from tbl_member where userid=#{userid}
		</select>
		
		
		<delete id="deleteMember">
		
		</delete>
			
			
		<update id="updateMember">
		
		</update>	
			
</mapper>




