<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ORACLE.adminChartMapper">

    <!-- 	 카테고리 별 상품 개수 -->
	<select id="categoryNameAndCount" resultType="com.macaronics.www.admin.model.dto.AdminChartVO">
		
		
	select 
	  count(c3.title) product_count , c3.TITLE as category_name
			
		from product p , TBL_CATEGORY_ONE c1, TBL_CATEGORY_TWO c2, TBL_CATEGORY_THREE c3
		
		where p.category_idx =c1.IDX and p.category_bno=c2.BNO and p.category_rno =c3.RNO
		
	group by c3.TITLE order by c3.TITLE asc

	 
	</select>
	
	
	
</mapper>














