<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ORACLEadminCategoryMapper">
<!-- 	create sequence seq_category_one start with 1
	increment by 1;

create sequence seq_category_two start with 1
	increment by 1;
	
create sequence seq_category_three start with 1
 increment by 1;
 -->
	
	
	<insert id="categoryInsertOne">
		insert into TBL_CATEGORY_ONE (IDX, TITLE) 
			values (seq_category_one.nextval , #{title})	
	</insert>
	
	
	<select id="categoryOneList" resultType="com.macaronics.www.admin.model.dto.AdminCategoryVO">
		select * from TBL_CATEGORY_ONE order by idx asc
	</select>
	
	<update id="categoryOneUpdate">
		update tbl_category_one set title=#{title} where idx=#{idx}
	</update>
	
	<delete id="categoryOneDelete">
	 delete from tbl_category_one where idx=#{idx}
	</delete>
	
	
	
	<!-- 2차 카테고리 -->
	
	<insert id="categoryInsertTwo">
		insert into tbl_category_two (BNO, IDX_ONE, TITLE) 

			VALUES (seq_category_two.nextval, #{idx}, #{title} )	
	</insert>
	
	<select id="categoryTwoList" resultType="com.macaronics.www.admin.model.dto.AdminCategoryVO">
		select * from tbl_category_two  where IDX_ONE=#{idx} order by bno asc
	</select>
	
	
	
	<update id="categoryTwoUpdate">
		update tbl_category_two set title=#{title} where bno=#{bno}
	</update>
	
	
	
	<delete id="categoryTwoDelete">
	 delete from tbl_category_two where bno=#{bno}
	</delete>
	
	
	
</mapper>














