<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ORACLEadminShopProductMapper">
	
		<insert id="productInsert">
		insert INTO product (PRODUCT_ID, PRODUCT_NAME, PRICE, DESCRIPTION,
	 PICTURE_URL,  AMOUNT, PRODUCT_STATE, BIG_DESCRIPTION, 
	 CATEGORY_IDX, CATEGORY_BNO, CATEGORY_RNO, DELIVER, DELIVER_MONEY ) 
	 
	 values (seq_product.nextval, #{productName} , #{price} , #{description} , 
	 #{picture_url}, #{amount}, #{productState}, #{bigDescription},
	 #{categoryIdx},  #{categoryBno},  #{categoryRno}, #{deliver}, #{deliverMoney}
	 	)
	</insert>
	
	
	
	
	
	<!-- 첨부파일 -->
	<insert id="addAttach">
		insert into TBL_PRODUCT_ATTACH (FULLNAME, PRODUCT_ID) 
		 values (#{fullName} , seq_product.currval)
	</insert>

	<!-- 상품 리스트 -->
	
	
	
	
	
	
	<select id="productList" resultType="com.macaronics.www.user.model.dto.ProductShopVO">
		select * from view_product  order by regdate desc
	</select>
	
	
	
	
	
	
	<!-- 첨부 파일 개별 삭제 -->
	<delete id="delteAttachImg">
		 delete from tbl_product_attach where fullname=#{fullname}  
	</delete>
	
	<delete id="deleteAttach">
		delete from tbl_product_attach where product_id=#{product_id}
	</delete>
	
	
	<insert id="replaceAttach">
	 insert into TBL_PRODUCT_ATTACH (FULLNAME, PRODUCT_ID) 
		 values (#{fullName} , #{product_id})
	</insert>
	
	<!-- 상품 업데이트 하기 -->
	<update id="updateProduct">
	
		
  UPDATE PRODUCT SET PRODUCT_NAME =#{productName}, PRICE=#{price}, DESCRIPTION=#{description},

	PICTURE_URL =#{picture_url}, AMOUNT=#{amount}, PRODUCT_STATE =#{productState}, BIG_DESCRIPTION=#{bigDescription},
	CATEGORY_IDX=#{categoryIdx} , CATEGORY_BNO=#{categoryBno} , CATEGORY_RNO=#{categoryRno},
	 DELIVER=#{deliver} , DELIVER_MONEY=#{deliverMoney},
	UPDATEDATE =sysdate WHERE  PRODUCT_ID =#{product_id}
	
	</update>
	
	
	<!-- 상품 삭제 -->
	<delete id="productDelete">
		delete from PRODUCT  where  product_id=#{product_id}
	</delete>
	
	
	<!-- 결제 대기 상품 목록 확인 -->
	<select id="productOrederConfirm" resultType="int">
		select count(*) from TBL_PRODUCT_ORDER where PRODUCT_ID=#{product_id}
	</select>
	
	
	
</mapper>













