<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ORACLEBoardMapper">
	<!-- 레코드 개수 계수 -->
	<select id="countArticle" resultType="int">
	   select count(*)  from tbl_board  where bno > 0
	   	 <include refid="search"></include>
	</select>
	
	
<sql id="search">
		
		<if test="search_option !=null">					
			<if test="search_option =='title' || search_option =='writer' || search_option=='content' ">
				and   ${search_option} like  '%' || #{keyword} || '%'
			</if>
		</if>
	
	<if test="search_option == 'all'">
			 and   ( title like  '%' || #{keyword} || '%' )		  
			  or  (  writer like  '%' || #{keyword} || '%' )
			     or ( content like  '%' || #{keyword} || '%'  )
	</if>
			
</sql>	
	
	<select id="boardList" resultType="BoardVO">
	select * from tbl_board where bno > 0 
			
		 <include refid="search"></include>
		 
		order by bno desc, regdate desc
	</select>
	
	
	
	
	<insert id="boardCreate">
	insert into TBL_BOARD (BNO, TITLE, CONTENT, WRITER) 
      VALUES((select nvl(max(bno)+1,1) from tbl_board), #{title}, #{content},  #{writer} )
	</insert>
	
	
	<select id="boardRead" resultType="BoardVO">
	select * from tbl_board  where bno =#{bno}
	</select>
	
	
	<!--  조회수 증가 -->
	<update id="viewCntUpdate">
		update tbl_board set viewcnt = viewcnt+1 where bno=#{bno}
	</update>
	
	
	<update id="boardUpdate">
	 UPDATE tbl_board SET content=#{content},  title=#{title}, writer=#{writer} WHERE bno=#{bno}
	</update> 
	
	
	<delete id="boardDelete">
		delete from tbl_board where bno=#{bno}
	</delete>
	
	
	
	<select id="getBoard" resultType="BoardVO">
		select * from tbl_board where bno =#{bno}
	</select>
	
	
<!-- 	<sql id="search">
		<choose>
			<when test="#{search_option == 'all'}">
				전체검색
				where writer like '%' || #{keyword} || '%'
					or content like '%' || #{keyword} || '%'
					or title like '%' || #{keyword} || '%'
			</when>
			<otherwise>전체 검색이 아닐 때
				where ${search_option} like
					'%' || #{keyword} || '%'
			</otherwise>
		</choose>
	</sql>
	
	 -->
			
</mapper>




