<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ORACLEcartMapper">
	
	<insert id="insert" >
		insert into cart( CART_ID, AMOUNT , PRODUCT_ID,  USERID)
 				VALUES(seq_cart.nextval, #{amount}, #{product_id}, #{userid})
	</insert>
	
	
	<select id="listCart" resultType="com.macaronics.www.user.model.dto.CartVO">
	
	select  sum(price*amount) as money , PRODUCT_ID , product_name  ,price, sum(amount) as amount, 
		
		PICTURE_URL,PRODUCT_STATE, USERNAME, USERID
	
	from V_CART 

	WHERE userid=#{userid}

	group by product_id, product_name,price, PICTURE_URL,PRODUCT_STATE, USERNAME, USERID 

	</select>
	
	
	<update id="upadeteProudAmout">
	<![CDATA[ 
	update PRODUCT set AMOUNT =AMOUNT - #{amount} where PRODUCT_ID =#{product_id} 
	]]>
	</update>
	
	
	<!-- 상품 남은 총 수량 가져 오기 -->
	
	<select id="prodcutAmount" resultType="int">
		select amount from PRODUCT  where product_id =#{product_id}
	</select>
	
	
	<delete id="delete">
		delete  from cart where product_id =#{product_id} and userid=#{userid}
	</delete>
	
	
	<update id="update">
	
		UPDATE  cart set  AMOUNT =#{amount} WHERE PRODUCT_ID=#{product_id} and USERID =#{userid}
	</update>
	
	
	
</mapper>














