<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ORACLE_freeBoardReplyMapper">
	
	
	<select id="countOracleReply" resultType="int">
	 select count(*) from TBL_REPLY  where bno=#{bno}
	</select>
	
	
	<select id="oracleList" resultType="FreeBoardReplyVO" >
select *
	from 
	(
   select rownum as rn , A.* 
   	from (
		select 	
			 rownum,  REPLYTEXT,  REPLYER ,  bno , m.USERNAME  , r.REGDATE, r.UPDATEDATE , rno , secret_reply,
			 
			 (select writer  from tbl_board  where bno=#{bno} ) as writer
			 
			 from 
	 	  TBL_REPLY r , TBL_MEMBER m  WHERE  r.REPLYER =m.USERID 	
		  
		   and bno=#{bno} order by rno desc
		   ) A
		   
		   ) where rn BETWEEN #{start} and #{end}
	</select>
	
	<insert id="create" >
	INSERT into TBL_REPLY (RNO, BNO, REPLYTEXT, REPLYER, secret_reply) 
 		VALUES (reply_seq.nextval, #{bno}, #{replytext},  #{replyer} , #{secret_reply})
	</insert>
	
	
	<update id="update">
		update TBL_REPLY SET REPLYTEXT =#{replytext} , UPDATEDATE =sysdate WHERE RNO =#{rno} 
	</update>
	
	
	<delete id="delete">
	  delete from tbl_reply where rno =#{rno}
	</delete>
	
	
	<select id="detail" resultType="FreeBoardReplyVO">
	 select * from tbl_reply where rno =#{rno}
	</select>
	
	
</mapper>




