<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ORACLEhomeMapper">
	
	<select id="newProudctList" resultType="com.macaronics.www.user.model.dto.ProductShopVO">
		select * from
		
		(
		
		select rownum as rn , A.*
			from (
			
			select  rownum ,
		
		p.PRODUCT_ID, p.AMOUNT,  p.CATEGORY_BNO, p.CATEGORY_IDX, p.CATEGORY_RNO,p.DELIVER
		
		,p.DELIVER_MONEY, p.DESCRIPTION, p.PICTURE_URL, p.PRICE, p.PRODUCT_NAME,p.PRODUCT_STATE,p.REGDATE, p.UPDATEDATE
		
		,p.view_count
		
		, c1.title as category1_title  ,  c2.title as category2_title   , c3.TITLE as category3_title
				
			from product p , TBL_CATEGORY_ONE c1, TBL_CATEGORY_TWO c2, TBL_CATEGORY_THREE c3
			
			where p.category_idx =c1.IDX and p.category_bno=c2.BNO and p.category_rno =c3.RNO
			
			order by p.PRODUCT_ID desc , p.REGDATE desc
			)
			
			A 
				
		)		where  rn BETWEEN  1 and 6 
			
	</select>
	
	
	<select id="bestProductList" resultType="com.macaronics.www.user.model.dto.ProductShopVO">
		select * from
		
		(
		
		select rownum as rn , A.*
			from (
			
			select  rownum ,
		
		p.PRODUCT_ID, p.AMOUNT,  p.CATEGORY_BNO, p.CATEGORY_IDX, p.CATEGORY_RNO,p.DELIVER
		
		,p.DELIVER_MONEY, p.DESCRIPTION, p.PICTURE_URL, p.PRICE, p.PRODUCT_NAME,p.PRODUCT_STATE,p.REGDATE, p.UPDATEDATE
		
		,p.view_count
		
		, c1.title as category1_title  ,  c2.title as category2_title   , c3.TITLE as category3_title
				
			from product p , TBL_CATEGORY_ONE c1, TBL_CATEGORY_TWO c2, TBL_CATEGORY_THREE c3
			
			where p.category_idx =c1.IDX and p.category_bno=c2.BNO and p.category_rno =c3.RNO
			
			and PRODUCT_STATE ='Best'
			
			order by p.PRODUCT_ID desc , p.REGDATE desc
			)
			
			A 
				
		)		where  rn BETWEEN  1 and 3
			
	
	</select>
	
	
	
	<select id="eventProductList" resultType="com.macaronics.www.user.model.dto.ProductShopVO">
	select * from
		
		(
		
		select rownum as rn , A.*
			from (
			
			select  rownum ,
		
		p.PRODUCT_ID, p.AMOUNT,  p.CATEGORY_BNO, p.CATEGORY_IDX, p.CATEGORY_RNO,p.DELIVER
		
		,p.DELIVER_MONEY, p.DESCRIPTION, p.PICTURE_URL, p.PRICE, p.PRODUCT_NAME,p.PRODUCT_STATE,p.REGDATE, p.UPDATEDATE
		
		,p.view_count
		
		, c1.title as category1_title  ,  c2.title as category2_title   , c3.TITLE as category3_title
				
			from product p , TBL_CATEGORY_ONE c1, TBL_CATEGORY_TWO c2, TBL_CATEGORY_THREE c3
			
			where p.category_idx =c1.IDX and p.category_bno=c2.BNO and p.category_rno =c3.RNO
			
			and PRODUCT_STATE ='빅이벤트'
			
			order by p.PRODUCT_ID desc , p.REGDATE desc
			)
			
			A 
				
		)		where  rn BETWEEN  1 and 10 
			
	</select>
	
	
	
	<select id="couponLastProudctIdx" resultType="int">
		select idx from tbl_coupon where idx=(select nvl(max(idx),1) from tbl_coupon)
	</select>
	
	
	<select id="lastCouponProduct" resultType="com.macaronics.www.user.model.dto.CouponVO">
		select * from TBL_COUPON  where idx =#{idx}
	</select>
	
	
	<select id="promotionList" resultType="com.macaronics.www.user.model.dto.PromotionVO">
	
	 select * from TBL_PROMOTIONS ORDER BY idx desc
	
	</select>
	
	
	<select id="mainBannerList" resultType="com.macaronics.www.admin.model.dto.AdminMainBannerVO">
	 	  select b.idx, b.display, b.img_url, b.proudct_Id, p.product_name
		 , p.price, p.product_state, p.picture_url, p.regdate  
		from 	PRODUCT p , TBL_MAIN_BANNER b
	
		where p.PRODUCT_ID =b.PROUDCT_ID order by idx asc
	
	</select>
	
	
	
	
</mapper>














