<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ORACLEmemberMapper">
	

		<select id="memberList" resultType="MemberDTO">
		 select * from tbl_member order by username
		</select>
		
		<select id="userAndEmailConfirm" resultType="int">
			select count(*) from tbl_member where  userid=#{userid} or email=#{email}
		</select>
		
		
		<insert id="insertMember" >
		insert INTO tbl_member (userid, userpw, username, email) 

			 VALUES(#{userid}, #{userpw}, #{username}, #{email})
		</insert>
		
		
		<select id="checkPwd" resultType="string">
		 select #{userpw} from tbl_member where userid=#{userid}
		</select>
		
		
		
		<select id="viewMember" resultType="MemberDTO">
		 select * from tbl_member where userid=#{userid}
		</select>
		
		
		<delete id="deleteMember">
		  delete FROM tbl_member WHERE userid =#{userid}
		</delete>
			
			
		<update id="updateMember">
		 update tbl_member set username=#{username}, email=#{email} , updatedate =sysdate where  userid=#{userid}
		</update>	
			
</mapper>




