<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ORACLEproductMapper">
	
		
	<select id="productList" resultType="com.macaronics.www.user.model.dto.ProductShopVO">
		select * from v_product  order by regdate desc
	</select>
	
	<select id="detailProduct" resultType="com.macaronics.www.user.model.dto.ProductShopVO">
		select * from v_product where product_id=#{product_id}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCount" >
		update product set view_count =view_count+1 where product_id=#{product_id}
	</update>
	
	<!-- 첨부파일 -->
	<select id="getAttach" resultType="string">
		select fullName from TBL_PRODUCT_ATTACH where product_id=#{product_id} order by regdate
	</select>
	
</mapper>














