<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ORACLE.QnaMapper">
	

	<select id="list" resultType="com.macaronics.www.member.model.dto.board.UsersQandAVO">

				select * from
		 (
		 select rownum as rn , A.* from
		 
		 (select rownum, answer, content, depth, idx,ref, regdate, reorder,secret,subject,userid
		 	from tbl_qna where  
			idx >0 order by  ref desc, reorder asc
			
			) A 
			
		 ) where rn BETWEEN #{start} AND #{end}
	</select>
	
	
	<select id="getRead" resultType="com.macaronics.www.member.model.dto.board.UsersQandAVO">
		 select * from tbl_qna where idx =#{idx}	
	
	</select>
	
	
	<select id="count" resultType="int">
			select count(*) from tbl_qna 
	</select>
	
	
</mapper>














