<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ORACLE.userMemoMapper">
	
	
	<select id="list" resultType="com.macaronics.www.user.model.dao.memo2.UserMemoVO">
	 select * from tbl_memo  order by idx desc
	</select>
	
</mapper>














